/* WEB FONT */

@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap");

/* VARIABLES */
:root {
  --clr-orange: hsl(25, 97%, 53%);
  --clr-white: hsl(0, 0%, 100%);
  --clr-light-gray: hsl(217, 12%, 63%);
  --clr-gray: hsl(216, 12%, 54%);
  --clr-blue: hsl(213, 19%, 18%);
  --clr-dark-blue: hsl(216, 12%, 8%);
}

body {
  background: var(--clr-dark-blue);
  font-family: var(--ff);
  font-weight: 400;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100hw;
  height: 400hv;
  max-width: 100hw;
}

.container {
  margin-inline: 20px;
  padding: 20px;
  background-color: var(--clr-blue);
  border-radius: 20px;
  overflow: auto;
  max-width:375px;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;}

.img-icon{
  background: var(--clr-dark-blue);
  display: inline-flex;

    align-items: center;
    justify-content: center;
    min-width: 45px;
    min-height: 45px;
    border-radius: 50%;
}

.btn-group button {
  background-color: var(--clr-dark-blue);
  border-radius: 50%;
  color: white;
  display: flex;
  color: var(--clr-light-gray);
  min-height: 45px;
  min-width: 45px;
  align-items: center;
  justify-content: center;
  transition: all 300ms ease-in-out;
}

button {
  font: inherit;
  border: none;
  cursor: pointer;
}

.btn-group {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-block: 20px;
}

.btn-group button:hover{
  background-color: var(--clr-orange);
  color: var(--clr-white);
}

.btn-submit {
  background-color: var(--clr-orange);
  border-radius: 10px;
  margin-top: 3px;
  padding: 10px;
  border-radius: 30px;
  width: 100%;
  transition: all 300ms ease-in-out;
  color:var(--clr-white);
}

.hidden{
  display: none;
}

.icon-res{
display: inline-flex;
align-items: center;
justify-content: center;
margin: auto;
min-width: 45px;
min-height: 45px;
}

.icon-wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
}


p{
color: var(--clr-light-gray);
font-family: Overpass;
font-size: 15px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 160% */
margin: 0 auto;
}

h1{
font-feature-settings: 'clig' off, 'liga' off;
color: var(--clr-white);
font-family: Overpass;
font-size: 28px;
font-style: normal;
text-align: center;
}

.result{
  margin-inline: 20px;
  padding: 20px;
  background-color: var(--clr-blue);
  border-radius: 20px;
  overflow: auto;
  max-width:375px;
}

.rating-box{
  color: var(--clr-orange);
  background:var(--clr-dark-blue);
  max-width: max-content;
  margin-inline: auto;
  margin-block: 20px;
  padding: 8px 15px;
  border-radius: 30px;
}
